/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-wp-blocktails {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  border: 2px solid var(--wp-blocktails-black);
  box-shadow: 3px 3px 0px 0px var(--wp-blocktails-brand);

  button {
    cursor: pointer;
    transition: .25s background-color;
    padding: .5rem 1rem;

    font-size: 1rem;

    background: var(--wp-blocktails-white);
    border: 1px solid var(--wp-blocktails-black);
    box-shadow: 3px 3px 0px 0px var(--wp-blocktails-brand);

    &:hover {
      background: var(--wp-blocktails-secondary);
    }
  }

  .wp-blocktails-details {
    display: flex;
    gap: 1rem;

    &__content {
      display: flex;
      flex-direction: column;
      gap: .25rem;

      span {
        &:last-of-type {
          font-size: 1rem;
        }
      }
    }

    img {
      object-fit: cover;
      box-shadow: 3px 3px 0px 0px var(--wp-blocktails-brand);
    }
  }
}