/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

:root {
    --wp-blocktails-brand: rgb(0 0 255 / 0.2);
    --wp-blocktails-secondary: #f0f4fa;
    --wp-blocktails-black: #000;
    --wp-blocktails-white: #fff;
}

.wp-block-create-block-wp-blocktails {}